<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('partials/bootstrapCSS') -%>

		<link rel="stylesheet" href="style.css" />
		<title>Form</title>
	</head>
	<body>
		<!-- navbar -->
		<%- include('partials/navbar') -%>

		<h1>This page is unavailable please sign in</h1>

		<%- include('partials/firebaseHeader') -%>
		<script src="js/index.js"></script>
		<script src="js/firebaseAuth.js"></script>
		<%- include('partials/bootstrapJS') -%>
	</body>
</html>
