<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('partials/bootstrapCSS') -%>

		<link rel="stylesheet" href="style.css" />
		<title>Resume Builder</title>
	</head>
	<body>
		<!-- navbar -->
		<%- include('partials/navbar') -%>

		<div id="user-content">
			<!-- create new resume button -->
			<a href="/form"
				><button type="button" class="btn btn-primary btn-lg">
					Create New Resume
				</button></a
			>

			<h3>Previous Resumes</h3>
		</div>

		<ul id="resume-list"></ul>

		<!-- reference to firebase cdn app information -->
		<%- include('partials/firebaseHeader') -%>
		<script src="js/index.js"></script>
		<script src="js/firebaseAuth.js"></script>
		<%- include('partials/bootstrapJS') -%>
	</body>
</html>
